[Unit]  
Description=php-fpm
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/lanmps/init.d/php-fpm start  
ExecReload=/www/lanmps/init.d/php-fpm restart  
ExecStop=/www/lanmps/init.d/php-fpm  stop  
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
