[Unit]  
Description=memcached
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/lanmps/action/memcached start  
ExecReload=/www/lanmps/action/memcached restart  
ExecStop=/www/lanmps/action/memcached  stop  
PrivateTmp=true  
   
[Install]
WantedBy=multi-user.target  
