[Unit]  
Description=mariadb
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/lanmps/bin/mariadb start
ExecReload=/www/lanmps/bin/mariadb restart
ExecStop=/www/lanmps/bin/mariadb  stop
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
