[Unit]
Description=jenkins
After=network.target

[Service]
Type=forking
ExecStart=/www/jenkins/jenkins.sh start
ExecReload=/www/jenkins/jenkins.sh restart
ExecStop=/www/jenkins/jenkins.sh  stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target

