[Unit]  
Description=jira
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/jira/jira.sh start  
ExecReload=/www/jira/jira.sh restart  
ExecStop=/www/jira/jira.sh  stop  
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
