[Unit]
Description=nginx
After=network.target
 
[Service]
Type=forking
ExecStart=/www/lanmps/action/nginx start
ExecReload=/www/lanmps/action/nginx restart
ExecStop=/www/lanmps/action/nginx  stop
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
