[Unit]
Description=gogs
After=network.target
 
[Service]
Type=forking
ExecStart=/www/gogs/scripts/init/debian/gogs start
ExecReload=/www/gogs/scripts/init/debian/gogs restart
ExecStop=/www/gogs/scripts/init/debian/gogs  stop
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
