[Unit]  
Description=php-fpm
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/lanmps/bin/php-fpm start
ExecReload=/www/lanmps/bin/php-fpm restart
ExecStop=/www/lanmps/bin/php-fpm  stop
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
