[Unit]  
Description=memcached
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/lanmps/bin/memcached start
ExecReload=/www/lanmps/bin/memcached restart
ExecStop=/www/lanmps/bin/memcached  stop
PrivateTmp=true  
   
[Install]
WantedBy=multi-user.target  
