[Unit]
Description=nginx
After=network.target
 
[Service]
Type=forking
ExecStart=/www/lanmps/bin/nginx start
ExecReload=/www/lanmps/bin/nginx restart
ExecStop=/www/lanmps/bin/nginx  stop
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
