[Unit]  
Description=confluence
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/confluence/confluence.sh start  
ExecReload=/www/confluence/confluence.sh restart  
ExecStop=/www/confluence/confluence.sh  stop  
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
