[Unit]  
Description=mysql
After=network.target  
   
[Service]  
Type=forking  
ExecStart=/www/lanmps/bin/mysql start
ExecReload=/www/lanmps/bin/mysql restart
ExecStop=/www/lanmps/bin/mysql  stop
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
